<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hrl.mapper.UserXmlMapper">
    <select id="findUserAll" resultType="cn.com.hrl.entity.UserEntity">
    <![CDATA[

            select  * from users;




        ]]>
  </select>

    <select id="getUserById" parameterType="int"
            resultType="cn.com.hrl.entity.UserEntity">
    <![CDATA[

            select * from users
			 where
            id = #{id}

        ]]>
  </select>
    <insert id="insertUser" parameterType="cn.com.hrl.entity.UserEntity"
            keyColumn="`id`" keyProperty="`id`" useGeneratedKeys="true">
        INSERT INTO users(userName,passWord,userSex) VALUES(#{userName}, #{passWord}, #{userSex});
    </insert>
</mapper>